# Ignore everything in the frontend folder
frontend/*

# Except the dist folder and its contents
!frontend/dist/
!frontend/dist/**

# Other ignores
bin/
obj/
# out/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
.vscode/
.idea/
*.sln.iml
TestResults/
*.dbmdl
*.pdb
*.mdb
*.nupkg
*.snupkg
packages/
Dockerfile.*
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db
.git/
.gitignore
.env
secrets.json
# appsettings.Development.json
appsettings.json.example
