{
  "ConnectionStrings": {
    "DefaultConnection": "Host=hehehe;Database=FinShark;Username=hehehe;Password=hehehe"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",

  "FMPKey": "key_here",
  "JWT": {
    "Issuer": "http://localhost:5246",
    "Audience": "http://localhost:5246",
    "SigningKey": "key_here"
  }
}
